.App {
  text-align: center;
}
body {
  background-image: url("https://images6.alphacoders.com/658/658462.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(1, 1, 1);
  height: 100vh;
}
.Navbar {
  position: fixed;
}
.Home {
  color: aliceblue;
  background-color: rgb(1, 1, 1);
  overflow-y: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(1, 1, 1);
  background-image: url("https://theplanetd.com/images/new-orleans-food.jpg");
  height: 100vh;
}
.Home h1 {
  margin: 70px 0;
}
.Family {
  background-image: url("https://i.pinimg.com/originals/fe/e1/84/fee18481df61ce4220956dc8f44d09e8.jpg");
  height: 100vh;
}
.Family h1 {
  /* margin: 60px 0; */
  /* margin-left: 40%; */
  /* position: absolute; */
  color: aliceblue;
  margin-bottom: 20px;
}
.Container {
  margin: 70px;
  display: flex;
  align-items: center;
}
.card {
  margin-inline: 10px;
}
